<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hecate{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <!-- Barre du haut -->
      <nav  class="navbar navbar-dark bg-dark  " >
		<img class="" src="{{ asset('image/hecate2.png')}}" width="50" height="40" alt="">
        <h1 id="titre" class="m-0">-HECATE-</h1>
		<!-- cette div me permet de centrer le text -->
		<div class=""></div>
    </nav>

      <div class="container-fluid">
          <div class="row">
			  <nav id="sidebar" class="col-12 bg-light p-0 m-0 col-md-2  sidebar">


			  	<h2 class="mt-2 mb-0 text-center"><i class="fas fa-user-circle"></i> <span id="username">{{ app.user.username|capitalize }}</span></h2>
			  	<p class='text-center mx-0 p-0'><a class="nav-link " href="/logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></p>
			  	<hr class="mx-2">
				{% if is_granted('ROLE_ADMIN') %}
			      <h5>Menu</h5>
			  	<ul class="nav flex-column ">
			  		<li class="nav-item">
			  			<a class="nav-link" href="{{ path('homepage') }}"><i class="fas fa-adjust"></i> Accueil</a>
			  		</li>
			  		<li class="nav-item dropdown">
			  			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-calendar-alt"></i> Gestion</a>
			  			<div class="dropdown-menu">
			  				<a class="dropdown-item" href="{{ path('createCreneaux')}}"><i class="far fa-calendar-plus"></i> Nouvelle periode</a>
			  				<a class="dropdown-item" href="{{ path('users_list') }}"><i class="fas fa-users"></i> Personnel</a>
			  				<a class="dropdown-item" href="{{ path('parametre') }}"><i class="fas fa-cogs"></i> Paramètres</a>
			  			</div>
			  		</li>
			  		<li class="nav-item">
			  		</li>
			  	</ul>
			  	<hr class="mx-2">
				{% endif %}
			    {% block nav %}{% endblock %}
			  </nav>

            {% block body %}{% endblock %}

          </div>
      </div>
      <footer class="bg-dark">test</footer>
      <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	  <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
	  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

	  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
