{% extends 'base.html.twig' %}

{% block body %}
  <div class="col-12 col-md-2 text-md-center">
    <div class="card" style="width: 18rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
      	<p>{{app.user.username}}</p>
          <p>Nombre de créneaux :<span>7</span>/7 </p>
          <hr>
          <h2>Arbitrage</h2>
          <div class="">
            <p>Nouvelle Periode <i class="fas fa-bullhorn"></i></p>

          </div>
      </div>
    </div>
  </div>
  <!-- calendrier -->
<div class="row col-8 justify-content-around">
	<div class="row col-12 my-2 justify-content-center">
		<form class="" action="" method="post">
			<input type="hidden" name="val1" value="week">
			<button type="submit" class="btn mx-1  btn-outline-secondary">Semaine</button>
		</form>
		<form class="" action="" method="post">
			<input type="hidden" name="val1" value="week-end">
			<button type="submit" class="btn mx-1  btn-outline-secondary">Week-End</button>
		</form>
	</div>
{% for item in cren %}

  <div class="card col-12 col-lg-4 col-xl-3 bg-light mx-1 mb-3" data-id ="{{item.id}}" style="max-width: 18rem;">
    <div class="card-header">{{ item.dateOf|date("D d M Y") }}
  		<p>
        <span class="sp_Equ">Equ</span>
        <span class="sp_Equ">Equ</span>
  			<span class="sp_Equ">Equ</span>
  			<span class="sp_CA">CA</span>
  			<span class="sp_PL">PL</span>
  			<span class="sp_CATE">CATE</span>
  		 </p>
	   </div>
    <div class="card-body">

		{% for user in item.users %}
			<div class="sp_{{ user.profile.name }} px-1 my-1">{{ user.username }}</div>

		{% endfor %}
	 </div>
   <div class="card-footer text-center">
     <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn in btn-outline-success">Dispo</button>

      <button type="button" class="btn out btn-outline-danger">Indispo</button>
    </div>
   </div>
 </div>
  {% endfor %}
</div>

{% endblock %}
{% block javascripts %} <script src="{{ asset('js/creneaux.js') }}" type="text/javascript"></script> {% endblock %}
